*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#canvas {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: top left;
}